@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scout</h1>
    <p>Plataforma de Scout Simplificada para Atacantes das Séries B e C de times do Sudeste do Campeonato Brasileiro de Futebol.</a>.</p>
</div>
